# Dependencies
node_modules/
**/node_modules/
server/node_modules/
client/node_modules/

# Environment variables
**/.env
**/.env.*
!**/.env.example
server/.env
client/.env

# Build files
dist/
client/dist/

# Logs
logs/
**/logs/
*.log
npm-debug.log*